
<% title 'User Guide' %>
<% render :partial => 'description' %>
<h2 class="western" style="page-break-after: avoid;"><font
size="6">Understanding SATRN</font></h2>

<p style="text-indent: 0.5in;">The Situational Awareness
Tactical Response Network (SATRN) is an
operator-in-the-loop training environment which enables
both our Department of Defense (DoD) stakeholders and
industry to measure and adjust Tactics, Techniques &
Procedures (TTP) to ensure the warfighter gets the most
effective and reliable tools in the field. It also allows
force-effectiveness analysis for differing weapons systems
as well as the Threat Evaluation and Weapon Assignment
(TEWA) algorithms that are employed to manage the
battlespace. Finally SATRN provides an end-to-end
environment for best-of-breed product testing. This allows
Lockheed Martin Missiles & Fire Control (MFC) to set up
conditions as they would appear in the field and introduce
small, incremental changes to show rapid deployment
solutions to today's issues.</p>

<p></p>



<h2 class="western">Plan</h2>

<p></p>

<%= render :partial=>'interceptors' %>

<%= render :partial=>'launchers' %>

<%= render :partial=>'batteries' %>

<%= render :partial=>'scenarios' %>

<%= render :partial=> 'idp_enhancements'%>

<%= render :partial=> 'tewa_configurations'%>


<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p style=
"border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(79, 129, 189); border-width: medium medium 1pt; padding: 0in 0in 0.06in;">
Acronyms</p>

<p></p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">1.
Situational Awareness Tactical Response Network: SATRN</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">2.
Tactics, Techniques & Procedures: TTP</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">3.
Threat Evaluation and Weapon Assignment: TEWA</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">4.
Lockheed Martin Missiles & Fire Control: MFC</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">5.
Integrated Defense Planner: IDP</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">6.
Scene Generator: SG</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">7.
Defended Area: DA</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">8.
Probability of Kill: PK</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">9.
Air Breathing Threats: ABT</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">10.
Tactical Ballistic Missiles: TBM</p>

<p style="margin-left: 0.44in; text-indent: -0.25in;">11.
Advanced Air Defense Synthetic Environment: AADSE</p>

<p></p>

<p style="margin-bottom: 0in;"><br />
</p>

<% content_for :page_links do %><%= link_to 'Home', '/main/show' %><% end %>

