<% semantic_form_for @mp_battery do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :name, :hint => "Name the battery" %>
    <%= f.input :desc, :as => :text, :label => 'Description'%>
    	
    <%= render 'mp_battery_configurations/edit_form', :f => f, :mp_battery => @mp_battery %>
    <p><%= button_to_add_form_fields "Add Launcher", f, :mp_battery_configurations %></p>
  <% end %>  
  <% f.buttons do %>
    <%= f.commit_button :label => 'Update Battery', :path => @mp_battery %>
  <% end %>
<% end %>