<table class='standard'>
    <thead>
        <tr>
            <th colspan=<%= queue.active? ? 2 : 1 %>>
                <%= queue.display_title %>
            </th>
        </tr>
		<% if queue.active? %>
	        <tr>
	            <th>Name</th>
	            <th>Priority</th>
	        </tr>
		<% end %>
    </thead>
    <tbody>
        <% queue.sort.each do |threat| %>
        	<tr class="queued_threat <%= cycle('odd-line', 'even-line') %>"/
				id="threat_<%= threat.label %>"/
				onclick="<%= remote_function(:url => "em_threats/set_current_threat/#{threat.label}") %>">
					  <td><%= threat.label %></td>
					  <td><%= "#{sprintf('%.1f', threat.priority)}" %></td>
        	</tr>
        <% end %>
    </tbody>
</table>
