<!--
  Inputs:
	launcher	- Launcher object
	highlight   - whether to highlight or not
-->

<% tb_style		= get_time_bar_style(launcher) %>
<% cell_labels	= get_cell_labels %>
<% cell_widths	= get_cell_widths(launcher) %>
<% cell_times	= get_cell_times(launcher) %>

<table class='standard time_bar'>

	<tr class="<%= tb_style %> tb_heading" id="<%= launcher.label + '_time_bar_title' %>">
		<th colspan=<%= cell_labels.length + 1 %> >
			<div class=<%= highlight ? '"tb_highlighted_heading"' : '""' %>>
				<% launcher_str = "#{launcher.battery_label} (#{launcher.battery_rounds_available}) / #{launcher.type.upcase} (#{launcher.launcher_rounds_available})" %>
					
				<%= "#{launcher_str}: #{sprintf '%.1f', launcher.bid}" %>
			</div>
		</th>
	</tr>
	
	
	<tr class="<%= tb_style %>" id="<%= launcher.label + '_time_bar' %>">
		<% cell_labels.each do |cell_label| %>
			<td class="<%= cell_label %>" style="width: <%= cell_widths[cell_label] %>">	
				<% unless cell_widths[cell_label].to_i < 10 or cell_label == 'impacted' %>
					<%= "#{sprintf '%.1f', cell_times[cell_label]}" %> s
				<% end %>
			</td>
		<% end %>
		
		<td class="tb_button">
			<% if launcher.active? %>
				<%= button_to_remote('Engage', :url => "em_threats/order_engagement/#{launcher.threat_label}/#{launcher.label}") %>
			<% elsif launcher.engaging? %>
				<%= button_to_remote('Cancel', :url => "em_threats/order_disengagement/#{launcher.threat_label}/#{launcher.label}") %>
			<% elsif launcher.waiting_for_response? %>
				<%= button_to_remote('Sending...', :url => "") %>
			<% else %>
				<div class="cant_engage_font">
					Cannot Engage
				</div>
			<% end %>
		</td>
	</tr>

</table>
