<h1>Listing fe_engagements</h1>

<table>
  <tr>
    <th>Run</th>
    <th>Launcher</th>
    <th>Threat</th>
    <th>Status</th>
  </tr>

<% @fe_engagements.each do |fe_engagement| %>
  <tr>
    <td><%=h fe_engagement.fe_run_id %></td>
    <td><%=h fe_engagement.fe_launcher_id %></td>
    <td><%=h fe_engagement.fe_threat_id %></td>
    <td><%=h fe_engagement.status %></td>
    <td><%= link_to 'Show', fe_engagement %></td>
    <td><%= link_to 'Edit', edit_fe_engagement_path(fe_engagement) %></td>
    <td><%= link_to 'Destroy', fe_engagement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fe_engagement', new_fe_engagement_path %>