<p>
  <b>Run:</b>
  <%=h @fe_engagement.fe_run_id %>
</p>

<p>
  <b>Launcher:</b>
  <%=h @fe_engagement.fe_launcher_id %>
</p>

<p>
  <b>Threat:</b>
  <%=h @fe_engagement.fe_threat_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @fe_engagement.status %>
</p>


<%= link_to 'Edit', edit_fe_engagement_path(@fe_engagement) %> |
<%= link_to 'Back', fe_engagements_path %>