<h1>Editing fe_area</h1>

<% form_for(@fe_area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fe_run_id %><br />
    <%= f.text_field :fe_run_id %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fe_area %> |
<%= link_to 'Back', fe_areas_path %>