<p>
  <b>Run:</b>
  <%=h @fe_area.fe_run_id %>
</p>

<p>
  <b>Label:</b>
  <%=h @fe_area.label %>
</p>

<p>
  <b>Category:</b>
  <%=h @fe_area.category %>
</p>


<%= link_to 'Edit', edit_fe_area_path(@fe_area) %> |
<%= link_to 'Back', fe_areas_path %>