%p
  The graphic below was created from simulation data.
%p
%p.center
  %img{:src => "/#{@name}_engagement_results.png"}
%p
%p
%h3
  Engagement Results
%table
  %tr
    %td
      Hits
    %td
      #{@hit}
  %tr
    %td
      Near-Hits
    %td
      #{@miss}
  %tr
    %td
      Total Engagements
    %td
      #{@total}
%p
%p
  = em "The following raw launcher details are being pulled from the simulation:"
%p
%pre
  = h(@launcher.pretty_inspect)
%p

