<h1>Editing fe_interceptor</h1>

<% form_for(@fe_interceptor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fe_run_id %><br />
    <%= f.text_field :fe_run_id %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :fe_engagement_id %><br />
    <%= f.text_field :fe_engagement_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fe_interceptor %> |
<%= link_to 'Back', fe_interceptors_path %>