<h1>Listing fe_interceptors</h1>

<table>
  <tr>
    <th>Run</th>
    <th>Label</th>
    <th>Catgetory</th>
    <th>Engagement</th>
    <th>Status</th>
  </tr>

<% @fe_interceptors.each do |fe_interceptor| %>
  <tr>
    <td><%=h fe_interceptor.fe_run_id %></td>
    <td><%=h fe_interceptor.label %></td>
    <td><%=h fe_interceptor.category %></td>
    <td><%=h fe_interceptor.fe_engagement_id %></td>
    <td><%=h fe_interceptor.status %></td>
    <td><%= link_to 'Show', fe_interceptor %></td>
    <td><%= link_to 'Edit', edit_fe_interceptor_path(fe_interceptor) %></td>
    <td><%= link_to 'Destroy', fe_interceptor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fe_interceptor', new_fe_interceptor_path %>