<p>
  <b>Run:</b>
  <%=h @fe_interceptor.fe_run_id %>
</p>

<p>
  <b>Label:</b>
  <%=h @fe_interceptor.label %>
</p>

<p>
  <b>Catgetory:</b>
  <%=h @fe_interceptor.category %>
</p>

<p>
  <b>Engagement:</b>
  <%=h @fe_interceptor.fe_engagement_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @fe_interceptor.status %>
</p>


<%= link_to 'Edit', edit_fe_interceptor_path(@fe_interceptor) %> |
<%= link_to 'Back', fe_interceptors_path %>