<div id='query_stats'>
	<table class='standard'>
		<tr>
			<% unless @laun_int_event_cats.nil? %>
				<td>
					Interceptor Events per Launcher
					<table class="query_stats">
						<tr>
							<th>Launcher</th>
							
							<% @laun_int_event_cats.each do |event_cat| %>
								<th><%= event_cat.to_s.titleize %></th>
							<% end %>
						</tr>
						
						<% @laun_int_events.each_key do |launcher_label| %> 
					    	<tr class="<%= cycle('odd_line', 'even_line') %>">
					    		<td><%=h launcher_label.gsub(' ', ' Unit #') %></td>
								
								<% @laun_int_event_cats.each do |event_label| %>
						        	<td><%=h @laun_int_events[launcher_label][event_label]%></td>
							  	<% end %>
							</tr>
					    <% end %>
					</table>
				</td>
			<% end %>
			<% unless @da_threat_event_cats.nil? %>
				<td>
					Threat Events per Defended Area
					<table class="query_stats">
						<tr>
							<th>Defended Area</th>
							
							<% @da_threat_event_cats.each do |event_cat| %>
								<th><%= event_cat.to_s.titleize %></th>
							<% end %>
						</tr>
						
						<% @da_threat_events.each_key do |da_label| %> 
					    	<tr class="<%= cycle('odd_line', 'even_line') %>">
					    		<td><%=h da_label %></td>
								
								<% @da_threat_event_cats.each do |event_label| %>
						        	<td><%=h @da_threat_events[da_label][event_label]%></td>
							  	<% end %>
							</tr>
					    <% end %>
					</table>
				</td>
			<% end %>
		</tr>
	</table>
</div>
