<h1>Editing fe_run</h1>

<% form_for(@fe_run) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :guid %><br />
    <%= f.text_field :guid %>
  </p>
  <p>
    <%= f.label :mp_scenario_id %><br />
    <%= f.text_field :mp_scenario_id %>
  </p>
  <p>
    <%= f.label :mp_tewa_configuration_id %><br />
    <%= f.text_field :mp_tewa_configuration_id %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fe_run %> |
<%= link_to 'Back', fe_runs_path %>