<head>
	<%= stylesheet_link_tag 'run_show' %>
</head>

<div class='show_title'>
	Force Effectiveness (Prototype)

	<div class='back_button'>
		<%= link_to image_tag('red_x.png', :size => '20x20', :alt => 'X'), fe_runs_path %>
	</div>
</div>

<%= render :partial => 'summary' %>

<hr/>

<%= render :partial => 'query' %>

<br/>

<%= render :partial => 'query_stats' %>

<div id='charts'>
	Charts
</div>
