<div id="mainmenutabs" class="droplinetabs">
	<ul>
		<li><%= link_to(content_tag(:span, "Home"), :controller => 'main', :action => 'show') %></li>
		<li><%= link_to(content_tag(:span, "Weapons"), :controller => 'main', :action => 'show') %>
			<ul>
				<li><%= link_to("Interceptors", :controller => 'mp_interceptors', :action => 'index') %></li>
				<li><%= link_to("Launchers", :controller => 'mp_launchers', :action => 'index') %></li>
				<li><%= link_to("Batteries", :controller => 'mp_batteries', :action => 'index') %></li>
			</ul>
		</li>
		<li><%= link_to(content_tag(:span, "Threat Types"), :controller => 'mp_threats', :action => 'index') %></li>
		<li><%= link_to(content_tag(:span, "TEWA"), :controller => 'mp_tewa_configurations', :action => 'index') %></li>		
		<li><%= link_to(content_tag(:span, "Scenarios"), :controller => 'mp_scenarios', :action => 'index') %></li>
		<li><%= link_to(content_tag(:span, "User Guide"), :controller => 'documents', :action => 'guide') %></li>
	</ul>
</div>