<h1>Editing fe_threat</h1>

<% form_for(@fe_threat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fe_run_id %><br />
    <%= f.text_field :fe_run_id %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :target_area_id %><br />
    <%= f.text_field :target_area_id %>
  </p>
  <p>
    <%= f.label :source_area_id %><br />
    <%= f.text_field :source_area_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fe_threat %> |
<%= link_to 'Back', fe_threats_path %>