<h1>Listing fe_threats</h1>

<table>
  <tr>
    <th>Run</th>
    <th>Label</th>
    <th>Category</th>
    <th>Target area</th>
    <th>Source area</th>
    <th>Status</th>
  </tr>

<% @fe_threats.each do |fe_threat| %>
  <tr>
    <td><%=h fe_threat.fe_run_id %></td>
    <td><%=h fe_threat.label %></td>
    <td><%=h fe_threat.category %></td>
    <td><%=h fe_threat.target_area_id %></td>
    <td><%=h fe_threat.source_area_id %></td>
    <td><%=h fe_threat.status %></td>
    <td><%= link_to 'Show', fe_threat %></td>
    <td><%= link_to 'Edit', edit_fe_threat_path(fe_threat) %></td>
    <td><%= link_to 'Destroy', fe_threat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fe_threat', new_fe_threat_path %>