<!--
  Inputs:
	@em_threat	- Threat object
-->

<% em_threat = EmThreatsController.get_current_threat %>

<div 
  title="Click here to update launcher inventory and bids against this threat",
  onclick="<%= remote_function(:url => "em_threats/set_current_threat/#{em_threat.label}") %>"
>
  <table class='standard threat_details'>
      <thead>
          <tr>
              <th colspan=4><%= em_threat.label.titleize.upcase %></th>
          </tr>
      </thead>
      <tbody>
      	<tr class="queued_threat <%= cycle('even-line') %>">
			    <!-- LAUNCH AREA -->
			    <td class='attr'  >Launch Area:</td>
			    <td class='value' ><%= em_threat.launch_area.titleize %></td>
			
			    <!-- IMPACT TIME -->
			    <td class='attr'  >Time Until Impact:</td>
			    <td class='value' ><%= em_threat.time_til_impact %></td>
        </tr>
		    <tr class="queued_threat <%= cycle('even-line') %>">
			    <!-- IMPACT AREA -->
			    <td class='attr'  >Impact Area:</td>
			    <td class='value' ><%= em_threat.defended_area.titleize %></td>
						
			    <!-- STATUS -->
			    <td class='attr' >Status:</td>
			    <td class='value' ><%= em_threat.status.to_s.titleize %></td>
        </tr>
        <tr class="queued_threat <%= cycle('even-line') %>">
			    <!-- IMPACT AREA -->
          <td bgcolor = "#FFFFFF"></td>
          <td bgcolor = "#FFFFFF"></td>
			    <td class='attr'  >IFF:</td>
			    <td class='value' >Unresponsive</td>
        </tr>
      </tbody>
  </table>
  <p>
    <%= em_threat.engagement_protocol_progress %>
    <% if 'L' == em_threat.engagement_protocol_progress[0,1] %>
      <br />
      Click anywhere in the threat info area (above) to update launcher inventory and bids against this threat.
    <% end %>
  </p>
</div>

