<table class='standard'>
	<tr>
		<th colspan=6>
			Threats
		</th>
    </tr>
	<tr>
		<th>Name</th>
		<th>Impact Time</th>
		<th>Priority</th>
		<th>Defended Area</th>
		<th>Launch Area</th>
		<th>Launcher Bids</th>
	</tr>
	
	<% threats = $em_threats.values.sort { |a, b| a.label.last(3) <=> b.label.last(3) } %>
	
	<% threats.each do |threat| %>
		<tr class="threat_entry <%= cycle('odd-line', 'even-line') %>">
			<td><%= threat.label %></td>
			<td><%= threat.impact_time %></td>
			<td><%= threat.priority %></td>
			<td><%= threat.defended_area %></td>
			<td><%= threat.launch_area %></td>
			<td>
				<% threat.launchers.each_value do |launcher| %>
					<%= "#{launcher.label}: #{sprintf '%.1f', launcher.bid}" %>
					<% if launcher.active? %>
						<%= button_to_remote('Engage', :url => "em_threats/order_engagement/#{threat.label}/#{launcher.label}") %>
					<% elsif launcher.engaging? %>
						<%= button_to_remote('Cancel', :url => "em_threats/order_disengagement/#{threat.label}/#{launcher.label}") %>
					<% elsif launcher.waiting_for_response? %>
						<%= button_to_remote('Sending...', :url => "") %>
					<% else %>
						Inactive
					<% end %>
					<br />
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
