<h1>Listing fe_launchers</h1>

<table>
  <tr>
    <th>Run</th>
    <th>Label</th>
    <th>Category</th>
  </tr>

<% @fe_launchers.each do |fe_launcher| %>
  <tr>
    <td><%=h fe_launcher.fe_run_id %></td>
    <td><%=h fe_launcher.label %></td>
    <td><%=h fe_launcher.category %></td>
    <td><%= link_to 'Show', fe_launcher %></td>
    <td><%= link_to 'Edit', edit_fe_launcher_path(fe_launcher) %></td>
    <td><%= link_to 'Destroy', fe_launcher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fe_launcher', new_fe_launcher_path %>