<h1>New fe_launcher</h1>

<% form_for(@fe_launcher) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fe_run_id %><br />
    <%= f.text_field :fe_run_id %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fe_launchers_path %>