<p>
  <b>Run:</b>
  <%=h @fe_launcher.fe_run_id %>
</p>

<p>
  <b>Label:</b>
  <%=h @fe_launcher.label %>
</p>

<p>
  <b>Category:</b>
  <%=h @fe_launcher.category %>
</p>


<%= link_to 'Edit', edit_fe_launcher_path(@fe_launcher) %> |
<%= link_to 'Back', fe_launchers_path %>