<%= @guid.nil ? "NIL" : "HELLLO?" %>
<table class="existing_entries">
	<tr>
		<th>Battery Name ()</th>
		<% for header in @bat_headers %>
			<th><%= header %></th>
		<% end %>
	</tr>
	
	<% @battery_event_hash.each_pair do |battery_name, events| %> 
    	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    		<td><%=h battery_name %></td>
			<% for event in events %>
	        	<td><%=h event%></td>
		  	<% end %>
		
		</tr>
    <% end %>

</table>

