<table width='100%'>
	<tr valign='top'>
		<td colspan=2 width='50%' style='text-align: center'>
			Interceptor Events per Battery
			<table class="many_column_entries" width='50%'>
				<tr>
					<th>Battery Name</th>
					<% for header in @bat_headers %>
						<th><%= header %></th>
					<% end %>
				</tr>
				
				<% @battery_event_hash.each_pair do |battery_name, events| %> 
			    	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
			    		<td><%=h battery_name %></td>
						<% for event in events %>
				        	<td><%=h event%></td>
					  	<% end %>
					
					</tr>
			    <% end %>
			
			</table>
		</td>
		<td colspan=2 style="text-align: center">
			Threat Qty per Defended Area (DA)
			<table class="many_column_entries">
				<tr>
					<th>DA</th>
					<% for header in @da_headers %>
						<th><%= header %></th>
					<% end %>
				</tr>
				
				<% @defended_area_threats_hash.each_pair do |da_id, threats| %> 
			    	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
			    		<td><%=h @DefendedAreaNames[da_id.to_i] %></td>
						<% for threat in threats %>
				        	<td><%=h threat%></td>
					  	<% end %>
					
					</tr>
			    <% end %>
				
				
				
			</table>
		</td>
	</tr>
</table>