<% title "Show mp_interceptor: " + @mp_interceptor.name%>
<% render :partial => 'description' %>

<p>
  <b>Name:</b>
  <%=h @mp_interceptor.name %>
</p>

<p>
  <b>desc:</b>
  <%=h @mp_interceptor.desc %>
</p>

<p>
  <b>Pk air:</b>
  <%=h @mp_interceptor.pk_air %>
</p>

<p>
  <b>Pk space:</b>
  <%=h @mp_interceptor.pk_space %>
</p>

<p>
  <b>Velocity:</b>
  <%=h @mp_interceptor.velocity %>
</p>

<p>
  <b>Cost:</b>
  <%=h @mp_interceptor.cost %>
</p>

<p>
  <b>Eng zone scale air:</b>
  <%=h @mp_interceptor.eng_zone_scale_air%>
</p>

<p>
  <b>Eng zone scale space:</b>
  <%=h @mp_interceptor.eng_zone_scale_space %>
</p>

<% content_for :page_links do %>
<%= link_to 'Edit', edit_mp_interceptor_path(@mp_interceptor) %> |
<%= link_to 'Back', mp_interceptors_path %>
<% end %>