<% title "Show Launcher: " + @mp_launcher.name%>
<% render :partial => 'description' %>
<p>
  <b>Name:</b>
  <%=h @mp_launcher.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @mp_launcher.desc %>
</p>

<p>
  <b>Interceptor:</b>
  <%=h @mp_launcher.mp_interceptor.name %>
</p>

<p>
  <b>Interceptor qty:</b>
  <%=h @mp_launcher.mp_interceptor_qty %>
</p>

<% content_for :page_links do %>
<%= link_to 'Edit', edit_mp_launcher_path(@mp_launcher) %> |
<%= link_to 'Back', mp_launchers_path %>
<% end %>